* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-primary);
}

:root {
  --text-primary:#F4F2ED;
  --text-secondary: #71706E;
  --bg-primary: #121212;
  --bg-secondary: #1E1E1E;
  --bg-yellow: #AE9E4A;
}

main {
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}
main section.view0 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
main section.view0 .left h1 {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}
main section.view0 .right {
  display: flex;
  gap: 0.7rem;
}
main section.view0 .right button.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-secondary);
  text-transform: uppercase;
  gap: 0.7rem;
  font-size: 1rem;
  color: var(--text-primary);
}
main section.view0 .right button.btn1 i {
  font-size: 1.5rem;
  color: var(--bg-yellow);
}
main section.view0 .right button.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.4rem 0.9rem;
  border-radius: 10px;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-secondary);
  gap: 1rem;
  font-size: 1rem;
}
main section.view0 .right button.btn2 i {
  font-size: 2rem;
  color: var(--text-primary);
}
main section.view0 .right button.btn3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-secondary);
  text-transform: uppercase;
  gap: 0.7rem;
  font-size: 1rem;
  color: var(--text-primary);
}
main section.view0 .right button.btn3 i {
  font-size: 1.5rem;
  color: var(--bg-yellow);
}
main section.view1 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view1 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  padding: 1.5rem;
  border-radius: 1rem;
}
main section.view1 .bottom h3 {
  font-size: 1rem;
  color: var(--text-primary);
  opacity: 0.8;
  font-weight: 500;
}
main section.view1 .bottom .text-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .bottom .text-section h1 {
  font-size: 2.4rem;
  color: var(--text-primary);
  font-weight: 400;
  letter-spacing: 1.8px;
}
main section.view1 .bottom .text-section p {
  font-size: 1.3rem;
  color: var(--text-secondary);
  font-weight: 400;
}
main section.view1 .bottom .text-section .Down-arrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
main section.view1 .bottom .text-section .Down-arrow i {
  color: var(--text-primary);
  padding: 0.6rem;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  font-size: 1.5rem;
  opacity: 0.7;
  border: 0.5px solid var(--text-secondary);
}
main section.view1 .bottom .text-section .Down-arrow h4 {
  padding: 0.6rem;
  font-size: 1rem;
  color: var(--text-primary);
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.2rem;
}
main section.view2 p {
  color: var(--text-secondary);
  font-size: 1.2rem;
  font-weight: 500;
}
main section.view2 h1 {
  color: var(--text-primary);
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 0.8;
}
main section.view2 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}
main section.view2 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 0rem;
  gap: 1rem;
}
main section.view3 .top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--bg-secondary);
  border-radius: 10px;
}
main section.view3 .top h4 {
  color: var(--text-primary);
  padding: 2.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 1px;
}
main section.view3 .top .Head-text {
  padding: 0 1.5rem;
  text-transform: uppercase;
}
main section.view3 .top .Head-text h1 {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 38px;
  color: var(--text-primary);
  padding-top: 1rem;
}
main section.view3 .top .text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
main section.view3 .top .text p {
  color: var(--text-secondary);
  font-size: 1rem;
  letter-spacing: 1.2px;
}
main section.view3 .bottom {
  width: 100%;
  border-radius: 10px;
}
main section.view3 .bottom img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main section.view4 {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 0rem;
  gap: 1rem;
}
main section.view4 .top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--bg-secondary);
  border-radius: 10px;
}
main section.view4 .top h4 {
  color: var(--text-primary);
  padding: 2.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 1px;
}
main section.view4 .top .Head-text {
  padding: 0 1.5rem;
  text-transform: uppercase;
}
main section.view4 .top .Head-text h1 {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 38px;
  color: var(--text-primary);
  padding-top: 1rem;
}
main section.view4 .top .text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
main section.view4 .top .text p {
  color: var(--text-secondary);
  font-size: 1rem;
  letter-spacing: 1.2px;
}
main section.view4 .bottom {
  width: 100%;
  border-radius: 10px;
}
main section.view4 .bottom img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main section.view5 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
main section.view5 .left {
  width: 100%;
  padding: 1rem;
}
main section.view5 .left h1 {
  color: var(--text-primary);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
main section.view5 .right {
  display: none;
}
main section.view6 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
}
main section.view6 .card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1/1;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
  background-size: cover;
  border-radius: 10px;
  opacity: 0.7;
}
main section.view6 .card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1/1;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
  background-size: cover;
  border-radius: 10px;
  opacity: 0.6;
}
main section.view6 .card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1/1;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
  background-size: cover;
  border-radius: 10px;
  opacity: 0.7;
}
main section.view6 .top {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.7rem;
  justify-content: flex-end;
}
main section.view6 .top .twitter,
main section.view6 .top .linkdin,
main section.view6 .top .instagram {
  background-color: var(--bg-secondary);
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-weight: 100;
  color: var(--text-primary);
  border: 1px solid var(--text-secondary);
}
main section.view6 .bottom {
  width: 100%;
  padding: 2rem 1rem;
}
main section.view6 .bottom .text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-transform: uppercase;
  color: var(--text-primary);
  border: 1px solid var(--text-secondary);
}
main section.view6 .bottom .text h1 {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 200;
}
main section.view6 .bottom .text h2 {
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 400;
}
main section.view7 {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 1rem;
}
main section.view7 .top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--bg-secondary);
  border-radius: 10px;
}
main section.view7 .top h4 {
  color: var(--text-primary);
  padding: 2.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 1px;
}
main section.view7 .top .Head-text {
  padding: 0 1.5rem;
  text-transform: uppercase;
}
main section.view7 .top .Head-text h1 {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 38px;
  color: var(--text-primary);
  padding-top: 1rem;
}
main section.view7 .top .text {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main section.view7 .top .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.9rem;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  background-color: var(--text-secondary);
}
main section.view7 .top .text button i {
  font-size: 1.25rem;
  color: var(--text-primary);
}
main section.view7 .top .text h1 {
  color: var(--text-primary);
  letter-spacing: 1px;
  font-size: 1.8rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
main section.view7 .bottom {
  width: 100%;
  border-radius: 10px;
}
main section.view7 .bottom img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main section.view8 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--bg-yellow);
}
main section.view8 .top {
  padding: 1rem;
  gap: 1rem;
}
main section.view8 .top h4 {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 1px;
  text-transform: uppercase;
}
main section.view8 .top h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
main section.view8 .bottom {
  width: 100%;
  padding: 1rem;
}
main section.view8 .bottom button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  color: var(--text-primary);
}
main section.mega {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
main section.mega section.view9 {
  margin-top: 1rem;
  border-radius: 10px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  justify-content: space-between;
}
main section.mega section.view9 .top {
  padding: 1rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
main section.mega section.view9 .top .text h2 {
  color: var(--text-primary);
  font-weight: 100;
  font-size: 1.2rem;
}
main section.mega section.view9 .icons {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
main section.mega section.view9 .icons .twitter,
main section.mega section.view9 .icons .linkdin,
main section.mega section.view9 .icons .instagram {
  background-color: var(--bg-secondary);
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-weight: 100;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
}
main section.mega section.view10 {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--bg-secondary);
  margin-top: 1rem;
  gap: 1rem;
}
main section.mega section.view10 .text {
  text-transform: uppercase;
  gap: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
main section.mega section.view10 .text button {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg-yellow);
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
}
main section.mega section.view10 h1 {
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: 500;
  letter-spacing: 1px;
}
main section.mega section.view10 h4 {
  font-size: 0.8rem;
  color: var(--text-secondary);
  font-weight: 500;
  letter-spacing: 1px;
}
main section.mega section.view11 {
  margin-top: 1rem;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--bg-secondary);
  gap: 1.5rem;
}
main section.mega section.view11 .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.mega section.view11 .top h2 {
  color: var(--text-secondary);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
main section.mega section.view11 .top h2 span1 {
  font-size: 0.85rem;
}
main section.mega section.view11 .top h2 span2 {
  color: var(--text-primary);
  text-decoration: underline;
}
main section.mega section.view11 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
  text-transform: uppercase;
}
main section.mega section.view11 .bottom h4 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
main section.mega section.view11 .bottom button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-secondary);
  color: var(--bg-secondary);
}
main section.mega section.view11 .bottom button i {
  color: var(--text-primary);
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
    gap: 1rem;
  }
  main section.view0 {
    display: flex;
    padding-bottom: 1rem;
  }
  main section.view0 .left {
    padding: 0.4rem 1rem;
  }
  main section.view0 .right button.btn3, main section.view0 .right button.btn2, main section.view0 .right button.btn1 {
    display: block;
    padding: 0.4rem 1.4rem;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  main section.view1 {
    display: flex;
    flex-direction: row;
  }
  main section.view1 .top {
    width: 50%;
  }
  main section.view1 .bottom {
    padding: 4rem;
    width: 50%;
    gap: 4rem;
  }
  main section.view1 .bottom .text-section h1 {
    font-size: 4rem;
    font-weight: 350;
  }
  main section.view1 .bottom .text-section p {
    line-height: 2rem;
  }
  main section.view1 .bottom .text-section .Down-arrow h4 {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  main section.view2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem;
  }
  main section.view2 .text {
    width: 100%;
    padding: 1rem;
  }
  main section.view2 .text p {
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
  }
  main section.view2 .text h1 {
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
  }
  main section.view2 .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  main section.view2 .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  main section.view3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  main section.view3 .top {
    width: 50%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  main section.view3 .top .Head-text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.4rem;
    font-weight: 400;
  }
  main section.view3 .top .text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 3rem;
  }
  main section.view3 .top .text p {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
  }
  main section.view3 .bottom {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view4 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  main section.view4 .top {
    width: 50%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  main section.view4 .top .Head-text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.4rem;
    font-weight: 400;
  }
  main section.view4 .top .text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 3rem;
  }
  main section.view4 .top .text p {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
  }
  main section.view4 .bottom {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view5 {
    display: flex;
    flex-direction: row;
  }
  main section.view5 .right {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
  }
  main section.view5 .right button {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    border: 1px solid var(--text-secondary);
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--text-secondary);
  }
  main section.view5 .right h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-primary);
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  main section.view6 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  main section.view6 .card1,
  main section.view6 .card2,
  main section.view6 .card3 {
    width: 100%;
  }
  main section.view7 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  main section.view7 .top {
    width: 50%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  main section.view7 .top .Head-text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.4rem;
    font-weight: 400;
  }
  main section.view7 .top .text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  main section.view7 .top .text h1 {
    font-weight: 500;
  }
  main section.view7 .bottom {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.view8 {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  main section.view8 .top {
    width: 70%;
    padding: 2rem 4rem;
  }
  main section.view8 .top h1 {
    font-size: 5rem;
    color: var(--bg-secondary);
    letter-spacing: 2px;
  }
  main section.view8 .bottom {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
  }
  main section.view8 .bottom button {
    letter-spacing: 2px;
  }
  main section.mega {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "view9 view10" "view9 view11";
    width: 100%;
    gap: 1rem;
  }
  main section.mega section.view9 {
    grid-area: view9;
    padding: 1rem;
  }
  main section.mega section.view9 .top {
    display: flex;
    gap: 27rem;
  }
  main section.mega section.view9 .top .text h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  main section.mega section.view10 {
    grid-area: view10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
  }
  main section.mega section.view11 {
    grid-area: view11;
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */